@page "/"

<body>
    <!-- Messaggio di benvenuto e descrizione della pagina -->
    <h1>Benvenuto nell'applicazione RistoGest</h1>

    <p>Nel menu a sinistra puoi selezionare la funzionalità che desideri</p>

    <!-- Link per l'assistenza -->
    <p class="mt-5">In caso di necessità, scrivere una mail all'indirizzo <a href="mailto:assistenza@ristogest.com" title="Invia una mail a assistenza@ristogest.com ">assistenza@ristogest.com</a></p>

</body>


